body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #1d3557, #457b9d);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background: #fff;
  padding: 40px 50px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

h1 {
  color: #1d3557;
  margin-bottom: 10px;
}

p {
  color: #555;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
}

button {
  background: #1d3557;
  color: #fff;
  border: none;
  width: 80%;  
  padding: 10px;            
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
  margin: 25px auto 0 auto; 
  display: block;           
  text-align: center;
}

button:hover {
  background: #26496e;
}

#message {
  color: red;
  margin-top: 10px;
}

